### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
count = len(purchase_data["SN"].unique())
#players_df = pd.Dataframe(data=count)


players_df = pd.DataFrame([[count]], columns = ["Players"])
players_df


# count
# number = players_df[0, "Players"]

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

unique_items = len(purchase_data["Item ID"].value_counts())
# unique_items
average_price = (purchase_data["Price"].sum() / len(purchase_data["Purchase ID"]))
# average_price
# :.2f  ---- trin to add decimal two places
number_purchases = len(purchase_data["Purchase ID"])
# number_purchases
total_revenue = purchase_data["Price"].sum()
# total_revenue

df = pd.DataFrame([[unique_items, average_price, number_purchases, total_revenue]], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
df
# https://stackoverflow.com/questions/45504241/create-single-row-python-pandas-dataframe

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# purchase_data.columns
# Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

male_female_df = purchase_data[['SN', 'Gender']]
male_female_df

no_multiples_mf_df = male_female_df.drop_duplicates(subset ="SN", keep = 'first', inplace = False)
# no_multiples_mf_df
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/

gender_count = no_multiples_mf_df["Gender"].value_counts()
gender_count_df = pd.DataFrame(gender_count) 
gender_count_df['Percentage of Players'] = (gender_count_df['Gender'] / sum(gender_count_df['Gender'])).map("{:,.2%}".format)

# https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/
gender_count_df.rename(columns = {'Gender':'Total Count'}, inplace = True)
# https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
gender_count_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
all_mf_values_df = pd.DataFrame((male_female_df["Gender"]).value_counts())
#all_mf_values_df.rename(columns = {'Gender':'Purhcase Count'}, inplace = True)
all_mf_values_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [6]:
# purchase_data.loc[purchase_data['Gender'] == "Male", 'Price'].sum()



# all_mf_values_df.iloc[0]
# https://www.shanelynn.ie/pandas-iloc-loc-select-rows-and-columns-dataframe/


    
# male_average = purchase_data.loc[purchase_data['Gender'] == "Male", 'Price'].sum() / all_mf_values_df.iloc[0]

# female_average = purchase_data.loc[purchase_data['Gender'] == "Female", 'Price'].sum() / all_mf_values_df.iloc[1]

# other_average = purchase_data.loc[purchase_data['Gender'] == "Other / Non-Disclosed", 'Price'].sum() / all_mf_values_df.iloc[2]

# male_average, female_average, other_average

In [7]:
g_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
# g_average
g_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
# g_purchase_total

In [8]:
gender_analysis_df = all_mf_values_df
gender_analysis_df['Average Purchase Price'] = g_average
gender_analysis_df['Total Purchase Value'] = g_purchase_total

g_avg_tot_per = gender_analysis_df.iloc[:,2] / gender_count_df.iloc[:,0]
# g_avg_tot_per

gender_analysis_df['Avg Total Purchase per Person'] = g_avg_tot_per

gender_analysis_df

,Gender,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
age_group_purchase_data = purchase_data

In [17]:

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] 
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_group_purchase_data['Age Group'] = pd.cut(age_group_purchase_data.Age, bins, labels = labels)
# purchase_data
no_multiples_age_group_df = age_group_purchase_data.drop_duplicates(subset ="SN", keep = 'first', inplace = False)
#no_multiples_age_group_df

In [18]:
purchase_data.drop(columns=['Age Group']) #Resests my main DF because I overwrote the original

no_multiples_age_group_df = pd.DataFrame(no_multiples_age_group_df.groupby(["Age Group"]).count()["Price"].rename("Total Count"))
no_multiples_age_group_df
#average_demo_price = gender_analysis_df.iloc[:,2] / gender_count_df.iloc[:,0]

#age_demographic_df['Percentage of Players'] = 
no_multiples_age_group_df['Percentage of Players'] = (no_multiples_age_group_df['Total Count'] / sum(gender_count_df['Total Count'])).map("{:,.2%}".format)
no_multiples_age_group_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
age_group_purchase_data = purchase_data

In [23]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100] 
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_group_purchase_data['Age Group'] = pd.cut(age_group_purchase_data.Age, bins, labels = labels)
#age_group_purchase_data

In [51]:
purchase_data.drop(columns=['Age Group']) #Resests my main DF because I overwrote the original
age_group_purchase_df = pd.DataFrame(age_group_purchase_data.groupby(["Age Group"]).count()["Price"].rename("Total Count"))
# age_group_purchase_df
sum_of_analysis = pd.DataFrame(age_group_purchase_data.groupby(["Age Group"]).sum())["Price"].rename("Total Purchase Value")
aver_purch_analysis = sum_of_analysis / age_group_purchase_df.iloc[:,0]
#aver_purch_analysis
aver_tot_per_analysis = sum_of_analysis / no_multiples_age_group_df.iloc[:,0]
#aver_tot_per_analysis
age_group_purchase_df["Average Purchase Price"] = aver_purch_analysis
age_group_purchase_df["Total Purchase Value"] = sum_of_analysis
age_group_purchase_df["Average Total Purchase per Person"] = aver_tot_per_analysis
age_group_purchase_df

,Total Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame